# Tasks
- Drop a variable with too many null values
- Replace null values of the variables we would like to add on the ML model
- Minimize the dimensions of the variables

In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

%matplotlib inline

# Load the data:

In [19]:
airports_df = pd.read_csv('../2008.csv')
airports_df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1234.0,1237,DL,1207,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389213,2008,4,17,4,1319.0,1320,1527.0,1524,DL,1208,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389214,2008,4,17,4,1335.0,1335,1556.0,1553,DL,1209,...,7.0,31.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389215,2008,4,17,4,1933.0,1935,2140.0,2141,DL,1210,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389216,2008,4,17,4,621.0,615,752.0,754,DL,1211,...,15.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# Drop the variables that we don't need:

In [20]:
airports_df = airports_df.drop(["ArrTime", "ActualElapsedTime", "AirTime", "TaxiIn", "Diverted", "CarrierDelay",
                         "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"], axis=1)
airports_df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiOut,Cancelled,CancellationCode
0,2008,1,3,4,1343.0,1325,1435,WN,588,N240WN,70.0,16.0,18.0,HOU,LIT,393,9.0,0,NaN
1,2008,1,3,4,1125.0,1120,1245,WN,1343,N523SW,85.0,2.0,5.0,HOU,MAF,441,8.0,0,NaN
2,2008,1,3,4,2009.0,2015,2140,WN,3841,N280WN,85.0,-4.0,-6.0,HOU,MAF,441,14.0,0,NaN
3,2008,1,3,4,903.0,855,1205,WN,3,N308SA,130.0,-2.0,8.0,HOU,MCO,848,7.0,0,NaN
4,2008,1,3,4,1423.0,1400,1710,WN,25,N462WN,130.0,16.0,23.0,HOU,MCO,848,10.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1237,DL,1207,N393DA,132.0,-3.0,0.0,BOS,CVG,752,16.0,0,NaN
2389213,2008,4,17,4,1319.0,1320,1524,DL,1208,N952DL,124.0,3.0,-1.0,CVG,BOS,752,12.0,0,NaN
2389214,2008,4,17,4,1335.0,1335,1553,DL,1209,N392DA,138.0,3.0,0.0,BOS,CVG,752,31.0,0,NaN
2389215,2008,4,17,4,1933.0,1935,2141,DL,1210,N3756,126.0,-1.0,-2.0,CVG,BOS,752,12.0,0,NaN
2389216,2008,4,17,4,621.0,615,754,DL,1211,N951DL,99.0,-2.0,6.0,BWI,CVG,430,12.0,0,NaN

# 1) Feature Engineering
## 1. Handling missing values
## 1.1. Locating missing values

In [21]:
airports_df.isnull().any()

Year                False
Month               False
DayofMonth          False
DayOfWeek           False
DepTime              True
CRSDepTime          False
CRSArrTime          False
UniqueCarrier       False
FlightNum           False
TailNum              True
CRSElapsedTime       True
ArrDelay             True
DepDelay             True
Origin              False
Dest                False
Distance            False
TaxiOut              True
Cancelled           False
CancellationCode     True
dtype: bool

In [22]:
airports_df.isnull().sum()

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime               64442
CRSDepTime                0
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum               42452
CRSElapsedTime          407
ArrDelay              70096
DepDelay              64442
Origin                    0
Dest                      0
Distance                  0
TaxiOut               64442
Cancelled                 0
CancellationCode    2324775
dtype: int64

## 1.2. Dropping the `CancellationCode` variable

In [23]:
threshold = 0.9
columns_with_null = airports_df.columns[airports_df.isnull().mean() > threshold] 
rows_with_null = airports_df.loc[airports_df.isnull().mean(axis=1) > threshold]

In [24]:
columns_with_null

Index(['CancellationCode'], dtype='object')

In [25]:
rows_with_null

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, CRSElapsedTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiOut, Cancelled, CancellationCode]
Index: []

<span style="color:blue"> <b> Drop `CancellationCode` due to its too many null data over the threshold (0.9) </b> </span>.

In [26]:
airports_df.drop("CancellationCode", axis=1, inplace=True)

## 1.3. Dropping the rows where the `cancelled` is `True`

Checking the relation among `DepTime`, `DepDelay`,  `TaxiOut`

In [27]:
cancelled_flights = airports_df[airports_df['Cancelled']==1]
cancelled_flights.shape[0]

64442

In [28]:
cancelled_flights.isnull().sum() / airports_df.isnull().sum()

Year                   NaN
Month                  NaN
DayofMonth             NaN
DayOfWeek              NaN
DepTime           1.000000
CRSDepTime             NaN
CRSArrTime             NaN
UniqueCarrier          NaN
FlightNum              NaN
TailNum           0.999929
CRSElapsedTime    0.292383
ArrDelay          0.919339
DepDelay          1.000000
Origin                 NaN
Dest                   NaN
Distance               NaN
TaxiOut           1.000000
Cancelled              NaN
dtype: float64

Therefore, all the null values in `DepTime`, `DepDelay`,  `TaxiOut` are in cancelled flights (`cancelled` == 1). <br>
Most(over 90%) of the null values in `TailNum`, `ArrDelay`, `ResDelay` are in cacnelled flights (`cancelled` == 1).

In [29]:
cancelled_flights[cancelled_flights['ArrDelay'].notnull()].empty

True

No cancelled flights have `ArrDelay` variable (target variable); therefore, cancelled flights should be dropped. <br>
<span style="color:blue"> <b> Drop rows where `Cancellation` is `True`</b> </span>.

In [30]:
airports_df = airports_df[airports_df['Cancelled'] == 0]

<span style="color:blue"> <b> Drop the variable `Cancellation`, because all the values are `False` </b> </span>.

In [31]:
if 'Cancelled' in airports_df:
    airports_df.pop('Cancelled')

## 1.4. Dropping the rows where the `ArrDelay` is null

Since `ArrDelay` is our target variable, rows with null values in `ArrDelay` should be dropped.

In [32]:
airports_df = airports_df.dropna(subset=['ArrDelay'])

In [33]:
airports_df.isnull().sum()

Year              0
Month             0
DayofMonth        0
DayOfWeek         0
DepTime           0
CRSDepTime        0
CRSArrTime        0
UniqueCarrier     0
FlightNum         0
TailNum           2
CRSElapsedTime    0
ArrDelay          0
DepDelay          0
Origin            0
Dest              0
Distance          0
TaxiOut           0
dtype: int64

<span style="color:blue"> <b> In conclusion, we dropped a variable `CancellationCode` and rows with null value in `Cancellation`, `ArrDelay`.</b> </span>.

In [34]:
airports_df.shape

(2319121, 17)

## 1.2. Treat categorical variables:

## 1.2.1. Converting time-relevant columns into one `datetime` field

Though `DepTime`, `CRSDepTime`, `CRSArrTime` looks numerical, they are categorical values in a format of 'HH:mm'

In [35]:
def merge_datetime_columns(df):
    if 'DepTS' in df and 'CSRDepTS' in df:
        return df

    temp_ts = df[["Year", "Month", "DayofMonth"]].astype(str).copy()
    
    # Actual departure time
    temp_ts['Hour'] = (df["DepTime"] // 100).astype(int).astype(str)
    temp_ts['Minute'] = (df["DepTime"] % 100).astype(int).astype(str)
    temp_ts['Time'] = temp_ts['Year'] + '-' + temp_ts['Month'] + '-' + temp_ts['DayofMonth'] + ' ' \
                    + temp_ts['Hour'] + ':' + temp_ts['Minute']
    temp_ts['DepTS'] = pd.to_datetime(temp_ts['Time'], format='%Y-%m-%d %H:%M', errors='coerce')

    # Scheduled departure time
    temp_ts['CSRDepHour'] =  (df["CRSDepTime"] // 100).astype(int).astype(str)
    temp_ts['CSRDepMinute'] =  (df["CRSDepTime"] % 100).astype(int).astype(str)
    temp_ts['CSRTime'] = temp_ts['Year'] + '-' + temp_ts['Month'] + '-' + temp_ts['DayofMonth'] + ' ' + \
                         temp_ts['CSRDepHour'] + ':' + temp_ts['CSRDepMinute']
    temp_ts['CSRDepTS'] = pd.to_datetime(temp_ts['CSRTime'], format='%Y-%m-%d %H:%M', errors='coerce')
    
    df['DepTS'] = temp_ts['DepTS']
    df['CSRDepTS'] = temp_ts['CSRDepTS']
    return df

In [36]:
airports_df = merge_datetime_columns(airports_df)
airports_df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiOut,DepTS,CSRDepTS
0,2008,1,3,4,1343.0,1325,1435,WN,588,N240WN,70.0,16.0,18.0,HOU,LIT,393,9.0,2008-01-03 13:43:00,2008-01-03 13:25:00
1,2008,1,3,4,1125.0,1120,1245,WN,1343,N523SW,85.0,2.0,5.0,HOU,MAF,441,8.0,2008-01-03 11:25:00,2008-01-03 11:20:00
2,2008,1,3,4,2009.0,2015,2140,WN,3841,N280WN,85.0,-4.0,-6.0,HOU,MAF,441,14.0,2008-01-03 20:09:00,2008-01-03 20:15:00
3,2008,1,3,4,903.0,855,1205,WN,3,N308SA,130.0,-2.0,8.0,HOU,MCO,848,7.0,2008-01-03 09:03:00,2008-01-03 08:55:00
4,2008,1,3,4,1423.0,1400,1710,WN,25,N462WN,130.0,16.0,23.0,HOU,MCO,848,10.0,2008-01-03 14:23:00,2008-01-03 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1237,DL,1207,N393DA,132.0,-3.0,0.0,BOS,CVG,752,16.0,2008-04-17 10:25:00,2008-04-17 10:25:00
2389213,2008,4,17,4,1319.0,1320,1524,DL,1208,N952DL,124.0,3.0,-1.0,CVG,BOS,752,12.0,2008-04-17 13:19:00,2008-04-17 13:20:00
2389214,2008,4,17,4,1335.0,1335,1553,DL,1209,N392DA,138.0,3.0,0.0,BOS,CVG,752,31.0,2008-04-17 13:35:00,2008-04-17 13:35:00
2389215,2008,4,17,4,1933.0,1935,2141,DL,1210,N3756,126.0,-1.0,-2.0,CVG,BOS,752,12.0,2008-04-17 19:33:00,2008-04-17 19:35:00
2389216,2008,4,17,4,621.0,615,754,DL,1211,N951DL,99.0,-2.0,6.0,BWI,CVG,430,12.0,2008-04-17 06:21:00,2008-04-17 06:15:00

<span style="color:red"> <b> Arrival date? </b> </span>

In [37]:
airports_df[airports_df['CRSArrTime'] < airports_df['CRSDepTime']]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiOut,DepTS,CSRDepTS
93,2008,1,3,4,1426.0,1430,1425,WN,829,N476WN,55.0,1.0,-4.0,IND,MDW,162,12.0,2008-01-03 14:26:00,2008-01-03 14:30:00
94,2008,1,3,4,715.0,715,710,WN,1016,N765SW,55.0,10.0,0.0,IND,MDW,162,21.0,2008-01-03 07:15:00,2008-01-03 07:15:00
95,2008,1,3,4,1702.0,1700,1655,WN,1827,N420WN,55.0,-4.0,2.0,IND,MDW,162,10.0,2008-01-03 17:02:00,2008-01-03 17:00:00
96,2008,1,3,4,1029.0,1020,1010,WN,2272,N263WN,50.0,11.0,9.0,IND,MDW,162,9.0,2008-01-03 10:29:00,2008-01-03 10:20:00
167,2008,1,3,4,1832.0,1655,30,WN,302,N473WN,275.0,78.0,97.0,LAS,ALB,2237,10.0,2008-01-03 18:32:00,2008-01-03 16:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2388875,2008,4,17,4,1638.0,1645,733,DL,850,N831MH,528.0,-3.0,-7.0,HNL,ATL,4502,15.0,2008-04-17 16:38:00,2008-04-17 16:45:00
2388909,2008,4,17,4,2209.0,2205,627,DL,884,N834MH,322.0,9.0,4.0,HNL,LAX,2556,17.0,2008-04-17 22:09:00,2008-04-17 22:05:00
2389004,2008,4,17,4,2317.0,2325,625,DL,990,N386DA,240.0,-8.0,-8.0,ONT,ATL,1900,12.0,2008-04-17 23:17:00,2008-04-17 23:25:00
2389044,2008,4,17,4,2312.0,2255,542,DL,1042,N601DL,227.0,10.0,17.0,LAS,ATL,1747,9.0,2008-04-17 23:12:00,2008-04-17 22:55:00
2389113,2008,4,17,4,2131.0,2130,741,DL,1112,N830MH,371.0,-5.0,1.0,HNL,SLC,2994,16.0,2008-04-17 21:31:00,2008-04-17 21:30:00

In [42]:
airports_df.to_csv('../2008_processed.csv', index=False)

In [38]:
# Split the dataframe: 
airports_df.dtypes

# List categorical variables:
cat_mask = (airports_df.dtypes==object)
cat_cols = airports_df.columns[cat_mask].tolist()
df_cat = airports_df[cat_cols]

df_num = airports_df.drop(cat_cols, axis=1)
# categorical columns = df_cat
# numerical columns = df_num

df_cat

        UniqueCarrier TailNum Origin Dest
0                  WN  N240WN    HOU  LIT
1                  WN  N523SW    HOU  MAF
2                  WN  N280WN    HOU  MAF
3                  WN  N308SA    HOU  MCO
4                  WN  N462WN    HOU  MCO
...               ...     ...    ...  ...
2389212            DL  N393DA    BOS  CVG
2389213            DL  N952DL    CVG  BOS
2389214            DL  N392DA    BOS  CVG
2389215            DL   N3756    CVG  BOS
2389216            DL  N951DL    BWI  CVG

[2319121 rows x 4 columns]

In [39]:
df_num

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,FlightNum,CRSElapsedTime,ArrDelay,DepDelay,Distance,TaxiOut,DepTS,CSRDepTS
0,2008,1,3,4,1343.0,1325,1435,588,70.0,16.0,18.0,393,9.0,2008-01-03 13:43:00,2008-01-03 13:25:00
1,2008,1,3,4,1125.0,1120,1245,1343,85.0,2.0,5.0,441,8.0,2008-01-03 11:25:00,2008-01-03 11:20:00
2,2008,1,3,4,2009.0,2015,2140,3841,85.0,-4.0,-6.0,441,14.0,2008-01-03 20:09:00,2008-01-03 20:15:00
3,2008,1,3,4,903.0,855,1205,3,130.0,-2.0,8.0,848,7.0,2008-01-03 09:03:00,2008-01-03 08:55:00
4,2008,1,3,4,1423.0,1400,1710,25,130.0,16.0,23.0,848,10.0,2008-01-03 14:23:00,2008-01-03 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1237,1207,132.0,-3.0,0.0,752,16.0,2008-04-17 10:25:00,2008-04-17 10:25:00
2389213,2008,4,17,4,1319.0,1320,1524,1208,124.0,3.0,-1.0,752,12.0,2008-04-17 13:19:00,2008-04-17 13:20:00
2389214,2008,4,17,4,1335.0,1335,1553,1209,138.0,3.0,0.0,752,31.0,2008-04-17 13:35:00,2008-04-17 13:35:00
2389215,2008,4,17,4,1933.0,1935,2141,1210,126.0,-1.0,-2.0,752,12.0,2008-04-17 19:33:00,2008-04-17 19:35:00
2389216,2008,4,17,4,621.0,615,754,1211,99.0,-2.0,6.0,430,12.0,2008-04-17 06:21:00,2008-04-17 06:15:00

In [40]:
# impute column "CancellationCode" with variables "UniqueCarrier"
from sklearn.impute import SimpleImputer

imp_cat = SimpleImputer(strategy='most_frequent')

df_cat = pd.DataFrame(imp_cat.fit_transform(df_cat),
                     columns=df_cat.columns, index=df_cat.index)
df_cat

        UniqueCarrier TailNum Origin Dest
0                  WN  N240WN    HOU  LIT
1                  WN  N523SW    HOU  MAF
2                  WN  N280WN    HOU  MAF
3                  WN  N308SA    HOU  MCO
4                  WN  N462WN    HOU  MCO
...               ...     ...    ...  ...
2389212            DL  N393DA    BOS  CVG
2389213            DL  N952DL    CVG  BOS
2389214            DL  N392DA    BOS  CVG
2389215            DL   N3756    CVG  BOS
2389216            DL  N951DL    BWI  CVG

[2319121 rows x 4 columns]