In [ ]:
import pandas as pd

# Load the data:

In [5]:
airports_df = pd.read_csv('2008.csv')
airports_df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,1343.0,1325,1451.0,1435,WN,588,...,4.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,1125.0,1120,1247.0,1245,WN,1343,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,2009.0,2015,2136.0,2140,WN,3841,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,903.0,855,1203.0,1205,WN,3,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1423.0,1400,1726.0,1710,WN,25,...,6.0,10.0,0,NaN,0,16.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1234.0,1237,DL,1207,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389213,2008,4,17,4,1319.0,1320,1527.0,1524,DL,1208,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389214,2008,4,17,4,1335.0,1335,1556.0,1553,DL,1209,...,7.0,31.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389215,2008,4,17,4,1933.0,1935,2140.0,2141,DL,1210,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2389216,2008,4,17,4,621.0,615,752.0,754,DL,1211,...,15.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# Drop the variables that we don't need:

In [6]:
airports_df = airports_df.drop(["ArrTime", "ActualElapsedTime", "AirTime", "TaxiIn", "Diverted", "CarrierDelay",
                         "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"], axis=1)
airports_df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiOut,Cancelled,CancellationCode
0,2008,1,3,4,1343.0,1325,1435,WN,588,N240WN,70.0,16.0,18.0,HOU,LIT,393,9.0,0,NaN
1,2008,1,3,4,1125.0,1120,1245,WN,1343,N523SW,85.0,2.0,5.0,HOU,MAF,441,8.0,0,NaN
2,2008,1,3,4,2009.0,2015,2140,WN,3841,N280WN,85.0,-4.0,-6.0,HOU,MAF,441,14.0,0,NaN
3,2008,1,3,4,903.0,855,1205,WN,3,N308SA,130.0,-2.0,8.0,HOU,MCO,848,7.0,0,NaN
4,2008,1,3,4,1423.0,1400,1710,WN,25,N462WN,130.0,16.0,23.0,HOU,MCO,848,10.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1237,DL,1207,N393DA,132.0,-3.0,0.0,BOS,CVG,752,16.0,0,NaN
2389213,2008,4,17,4,1319.0,1320,1524,DL,1208,N952DL,124.0,3.0,-1.0,CVG,BOS,752,12.0,0,NaN
2389214,2008,4,17,4,1335.0,1335,1553,DL,1209,N392DA,138.0,3.0,0.0,BOS,CVG,752,31.0,0,NaN
2389215,2008,4,17,4,1933.0,1935,2141,DL,1210,N3756,126.0,-1.0,-2.0,CVG,BOS,752,12.0,0,NaN
2389216,2008,4,17,4,621.0,615,754,DL,1211,N951DL,99.0,-2.0,6.0,BWI,CVG,430,12.0,0,NaN

# locate variables with missing values:

In [7]:
airports_df.isnull().any()

Year                False
Month               False
DayofMonth          False
DayOfWeek           False
DepTime              True
CRSDepTime          False
CRSArrTime          False
UniqueCarrier       False
FlightNum           False
TailNum              True
CRSElapsedTime       True
ArrDelay             True
DepDelay             True
Origin              False
Dest                False
Distance            False
TaxiOut              True
Cancelled           False
CancellationCode     True
dtype: bool

# Treat categorical variables:

In [10]:
# Split the dataframe: 
airports_df.dtypes

# List categorical variables:
cat_mask = (airports_df.dtypes==object)
cat_cols = airports_df.columns[cat_mask].tolist()
df_cat = airports_df[cat_cols]

df_num = airports_df.drop(cat_cols, axis=1)
# categorical columns = df_cat
# numerical columns = df_num

df_cat

        UniqueCarrier TailNum Origin Dest CancellationCode
0                  WN  N240WN    HOU  LIT              NaN
1                  WN  N523SW    HOU  MAF              NaN
2                  WN  N280WN    HOU  MAF              NaN
3                  WN  N308SA    HOU  MCO              NaN
4                  WN  N462WN    HOU  MCO              NaN
...               ...     ...    ...  ...              ...
2389212            DL  N393DA    BOS  CVG              NaN
2389213            DL  N952DL    CVG  BOS              NaN
2389214            DL  N392DA    BOS  CVG              NaN
2389215            DL   N3756    CVG  BOS              NaN
2389216            DL  N951DL    BWI  CVG              NaN

[2389217 rows x 5 columns]

In [11]:
df_num

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,CRSArrTime,FlightNum,CRSElapsedTime,ArrDelay,DepDelay,Distance,TaxiOut,Cancelled
0,2008,1,3,4,1343.0,1325,1435,588,70.0,16.0,18.0,393,9.0,0
1,2008,1,3,4,1125.0,1120,1245,1343,85.0,2.0,5.0,441,8.0,0
2,2008,1,3,4,2009.0,2015,2140,3841,85.0,-4.0,-6.0,441,14.0,0
3,2008,1,3,4,903.0,855,1205,3,130.0,-2.0,8.0,848,7.0,0
4,2008,1,3,4,1423.0,1400,1710,25,130.0,16.0,23.0,848,10.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389212,2008,4,17,4,1025.0,1025,1237,1207,132.0,-3.0,0.0,752,16.0,0
2389213,2008,4,17,4,1319.0,1320,1524,1208,124.0,3.0,-1.0,752,12.0,0
2389214,2008,4,17,4,1335.0,1335,1553,1209,138.0,3.0,0.0,752,31.0,0
2389215,2008,4,17,4,1933.0,1935,2141,1210,126.0,-1.0,-2.0,752,12.0,0
2389216,2008,4,17,4,621.0,615,754,1211,99.0,-2.0,6.0,430,12.0,0

In [ ]:
# impute column "CancellationCode" with variables "UniqueCarrier"
from sklearn.impute import SimpleImputer

imp_cat = SimpleImputer(strategy='most_frequent')

df_cat = pd.DataFrame(imp_cat.fit_transform(df_cat),
                     columns=df_cat.columns, index=df_cat.index)
df_cat